@import "../../app.component.scss"; 
nav {
    padding: 15px;
    background-color: transparent !important;
    border: 1px solid $border_color;
}

nav .navbar-nav .nav-item{
    font-size: 18px;
    margin: auto 5px;
    padding: 14px 7px;
    transition: 0.25s all;
    border-radius: 5px;
}

nav .navbar-nav .nav-item:hover{
    background-color: $background_theme;
}

nav  .navbar-brand{
    font-weight: 600;
}